.movie-view {
  box-sizing: border-box;
  display: block;
  text-align: center;
  height: 450px;
  width: 250px;
  margin: auto;
  padding: 10px;
  background-color: yellowgreen;
  border-radius: 15px;
}
