body {
  box-sizing: border-box;
  align-self: auto;
}
form {
  display: block;
  width: auto;
  align-content: center;
  margin-top: 15%;
  padding: 50px;
  background-color: rgb(175, 198, 218);
  border-radius: 80px;
}
label,
.loginButton {
  display: block;
  align-self: center;
  width: 300px;
  padding: 5px;
  border-radius: 50px;
  background-color: thistle;
  margin: auto;
}
